.smText {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

canvas {
  height: "50%" !important;
  width: "50%" !important;
}