  /* background-color: #242424; */
  @import "tailwindcss";

  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .google-sans {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
  }

  body {
    overflow-x: hidden;
  }

  @theme {
    --color-backg: #FFFCF9;
    --color-headerText: #587988;
    --color-progressBg: #FFF5F2;
    --color-headerBg: #B2CBD7;
    --color-lightPink: #FFF5F2;
    --color-subHeaderBg: #EBC2B9;
    --color-subHeaderText: #BF787B;
    --color-smHeaderBg: #F8E2DD;
  }