@import "tailwindcss";
@custom-variant light (&:is(.light, .light *)); 

@layer base {
  :root {
    color-scheme: dark; /* Tells browser the default is dark */
  }
  :root.light {
    color-scheme: light; /* Updates browser UI when light is active */
  }
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

body {
  overflow-x: hidden;
}

.MuiChartsLegend-label{
  color: white;
}
tspan{
  color: white !important;
}

@theme {
  --color-darkBg: #0f172a;
  --color-darkText: #ffffff;
  --color-darkSubText: #cbd5f5;
  --color-darkPrimary: #6366f1;
  --color-darkCard: #1e293b;
  --color-darkBox: #334155;
  --color-darkSuccess: #22c55e;
  --color-darkBorder: #1e293b;

  --color-lightBg: #f8fafc;
  --color-lightText: #0f172a;
  --color-lightSubText: #475569;
  --color-lightPrimary: #4f46e5;
  --color-lightCard: #ffffff;
  --color-lightBox: #e2e8f0;
  --color-lightSuccess: #16a34a;
  --color-lightBorder: #e2e8f0;



  --color-backg: #fffcf9;
  --color-headerText: #587988;
  --color-progressBg: #fff5f2;
  --color-headerBg: #b2cbd7;
  --color-lightPink: #fff5f2;
  --color-subHeaderBg: #ebc2b9;
  --color-subHeaderText: #bf787b;
  --color-smHeaderBg: #f8e2dd;
}
